* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}

button {
  outline: none;
}

.button_display_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.parameter_block {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  color: #333333;
}

.parameter_menu {
  width: 30%;
  max-width: 400px;
  padding: 12px;
}

.parameter_menu_header {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 500;
}

.parameter_list {
  box-sizing: border-box;
  max-height: 45vh;
  overflow-y: scroll;
}

.parameter_unit + .parameter_unit {
  margin-top: 3px;
}

.parameter_header {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 14px;
  font-weight: 400;
}

.parameter_value {
  font-size: 12px;
}

.parameter_manipulator {
  display: block;
  width: 90%;
}

.hover_active_checkbox {
  vertical-align: middle;
}

.generate_code_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  color: #333333;
}

#generateCSSCodeButton {
  cursor: pointer;
}

#generateCSSCodeArea {
  position: relative;
  display: none;
  margin-top: 20px;
  padding: 10px;
  max-width: 90%;
  overflow-x: scroll;
  font-weight: 900;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

#copyCSSCode {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 6px;
  color: #767676;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0 3px 0 3px;
  cursor: pointer;
}

#copyCSSCode:hover {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 12px;
  color: #555555;
}

.randomStyleClass1 {
  height: 73px;
  width: 200px;
  border: double 15px #f58a8a;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #cc3333;
  box-shadow: 6px 8px 12px 0px rgba(163, 163, 163, 0.75);
  background-color: #f58a8a;
}

.randomStyleClass1:hover {
  border-color: #f25050;
  color: #049a89;
  box-shadow: 5px 5px 12px 5px rgba(255, 212, 138, 0.41);
  background-color: #f9c4fd;
}

.randomStyleClass1:active {
  border-color: #90e4d3;
  color: #bda405;
  box-shadow: 10px 10px 20px 20px rgba(154, 125, 232, 0.75);
  background-color: #f6cbcb;
}

.randomStyleClass2 {
  height: 44px;
  width: 188px;
  border: dotted 4px #8a89e1;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 400;
  color: #665824;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  background-color: #eed3b4;
}

.randomStyleClass2:hover {
  border-color: #bda5fd;
  color: #26d95c;
  box-shadow: 20px 20px 10px 10px rgba(196, 135, 135, 0.42);
  background-color: #e7f57a;
}

.randomStyleClass2:active {
  border-color: #3eb652;
  color: #e84921;
  box-shadow: 10px 10px 28px 28px rgba(117, 255, 209, 0.56);
  background-color: #ffae52;
}

.randomStyleClass3 {
  height: 100px;
  width: 73px;
  border: outset 2px #000000;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  background-color: #ffffff;
}

.randomStyleClass3:hover {
  border-color: #d4a2e2;
  color: #f57a7a;
  box-shadow: 2px 2px 10px 35px rgba(255, 199, 46, 0.75);
  background-color: #ff1100;
}

.randomStyleClass3:active {
  border-color: #666bff;
  color: #85ffaf;
  box-shadow: 0px 0px 20px 20px rgba(153, 153, 153, 0.24);
  background-color: #dd7b46;
}

.randomStyleClass4 {
  height: 62px;
  width: 181px;
  border: dashed 16px #f566ff;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  color: #327765;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  background-color: #00e682;
}

.randomStyleClass4:hover {
  border-color: #ffd6d6;
  color: #008a1c;
  box-shadow: 0px 0px 50px 20px rgba(255, 187, 41, 0.28);
  background-color: #ff3300;
}

.randomStyleClass4:active {
  border-color: #ff99e9;
  color: #7989fb;
  box-shadow: 0px 0px 20px 50px rgba(148, 255, 155, 0.29);
  background-color: #ee00ff;
}

.randomStyleClass5 {
  height: 100px;
  width: 100px;
  border: outset 1px #000000;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  color: #227000;
  box-shadow: 0px 0px 33px 12px rgba(51, 255, 75, 0.75);
  background-color: #ffba42;
}

.randomStyleClass5:hover {
  border-color: #80ffa6;
  color: #ffa552;
  box-shadow: 10px 0px 18px 30px rgba(165, 133, 255, 0.38);
  background-color: #4dff58;
}

.randomStyleClass5:active {
  border-color: #80ecff;
  color: #5cff85;
  box-shadow: 0px 10px 18px 50px rgba(255, 97, 97, 0.27);
  background-color: #8c75ff;
}

@media (max-width: 810px) {
  .parameter_block {
    flex-wrap: wrap;
  }
  
  .parameter_menu {
    width: 45%;
  }

  .parameter_manipulator {
    width: 99%;
  }
}

@media (max-width: 650px) {
  .parameter_block {
    flex-wrap: wrap;
  }
  
  .parameter_menu {
    width: 90%;
  }

  .parameter_manipulator {
    width: 99%;
  }
}
